body{
    background-color: black;
}
body::-webkit-scrollbar{
    display:none;
}

.StartAnimation{
    max-height: 800px;
    overflow-y: auto;
}
.StartAnimation::-webkit-scrollbar{
    display:none;
}
.LoginModal::-webkit-scrollbar{
    display:none;
}

.SignUpModal{
    margin-left: 35%;
}
.TagModal{
    margin-left: 35%;
}