.profile-card {
  margin-top: 10%;
  margin-left: 17%;
  width: 1000px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.null-warn{
  margin-top: 15%;
  justify-content: center;
  text-align: center;
}