

.start{
    margin: 0 auto;
    margin-top: 10%;
    width: 48%;
    border: 1px solid red;
    border-radius: 10px;
    text-align: center;
}

.card {
    margin-top: -20.9%;
    margin-left: 21.4%;
}

.review{
    margin-top: 16.4%;
    margin-left: 21.4%;
}

.searchText{
    margin: 0 auto;
    width: 48%;
    height: 10px;
    margin-top: 5%;
}
.searchText input{
    width: 600px;
    height: 35px;
}
.searchText Button{
    margin-top: -5px;
    width: 140px;
}

.container {
    margin: 0 auto;
    width: 50%;
    margin-top: 5%;
}

.table-container{
    border: 1px solid black;
}

.table{
   width: 100%;
}

.table-head {
    background-color: #333;
    color: #fff;
}

.table th{
    padding: 8px;
    text-align: left;
}
.table td{
    padding: 10px;
    text-align: left;
}


.listkey::before{
    content:"";
    width: 0;
    height: 0;
}

.profile-card {
      margin-top: 10%;
      margin-left: 17%;
      width: 1000px;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 20px;
}