*{
    margin-left: 0;
}

.test-layout{
    width: 80vw;
    height: 80vh;
    border: 1px solid black;
}
/* this test-layout class for test it will be terminated */

.RCA-app-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


/* header */
.RCA-header-container{
    flex-basis: 50px;
    background-color: rgb(224, 215, 202);
    display: flex;

}

.move-button{
    width: 40px;
    height: 40px;
    display: inline-block;
}

.icon{
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.left-img{
    /* background-image : url('./left-icon.png');
     */
}

.right-img{
    /* background-image: url('./right-icon.png'); */
}

.RCA-header-middle{
    line-height: 50px;
}

.RCA-header-calendarYM{
    box-sizing: border-box;
    padding-left: 5px;
    flex-grow: 1;
}

.RCA-header-buttons{
    flex-basis: 120px;
    padding-left: 0;
    padding-top: 4px;
    display: block;
    list-style-type: none;
    margin: 0;
}

.RCA-header-buttons li{
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}

/* calendar component */

.RCA-calendar-container{
    flex-grow: 1;
    /* background-color:  rgb(127, 184, 127); */
    display: flex;
    flex-direction: column;
}

/* calendar-header */

.RCA-calendar-date-header{
    display: flex;
    height: 50px;
    background-color: green;
}


.RCA-calendar-date-component{
    width: 14.2857143%;
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(107, 107, 108);
    border: 0.1px solid white;
    font-size : 1.5rem;
    line-height: 50px;
}

.RCA-calendar-date-component:nth-child(odd){
    border-left : none;
    border-right: none;
}

.date-weekday{
    color : rgba(255, 255, 255, 0.603)
}

.date-sun{
    color: tomato;
}

.date-sat{
    color: skyblue;
}

/* calendar */
.RCA-calendar-day-container{
    flex-grow: 1;
    display : flex;
    flex-wrap: wrap;
}

.RCA-calendar-day{
    box-sizing: border-box;
    position: relative;
    flex-basis: 14.2857143%;
    border: 0.1px solid white;
    border-top: none;
    background-color: rgb(225,224,224);
}

.RCA-calendar-week{
    display: flex;
    flex-grow: 1;
}

.RCA-calendar-day:nth-child(odd){
    border-left : none;
    border-right: none;
}

.RCA-calendar-day-label{
    display: inline-block;
    font-size: 1.2rem;
    position: absolute;
    text-align: center;
    line-height: 25px;
    top : 5px;
    right: 5px;
}

.date-weekday-label{
    color : rgb(71, 71, 71)
}

.date-notThisMonth{
    color: rgb(255, 255, 255);
}

.selected{
    background-color: rgb(49,50,50);
}

.selected label{
    font-size: 1.2rem;
    color: white;
    width: 25px;
    height: 25px;
    background-color: rgb(224, 62, 42);
    border-radius: 100%;
}