*{
    margin: 0;
}

.test-layout{
    width: 100vw;
    height: 80vh;
    border: 1px solid red;
}
/* this test-layout class for test it will be terminated */

.RCA-app-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


/* header */
.RCA-header-container{
    flex-basis: 50px;
    background-color: rgb(224, 215, 202);
    display: flex;

}

.move-button{
    width: 40px;
    height: 40px;
    display: inline-block;
}

.icon{
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.left-img{
    /* background-image : url('./left-icon.png'); */
    
}

.right-img{
    /* background-image: url('./right-icon.png'); */
}

.RCA-header-middle{
    line-height: 50px;
}

.RCA-header-calendarYM{
    box-sizing: border-box;
    padding-left: 5px;
    flex-grow: 1;
}

.RCA-header-buttons{
    flex-basis: 120px;
    padding-left: 0;
    padding-top: 4px;
    display: block;
    list-style-type: none;
    margin: 0;
}

.RCA-header-buttons li{
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}