.navbar-toggle{
  position: absolute;
  margin-top: -35px;
  left: 100px;
  transform: translateY(-50%);
  font-size: 1.8rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.mypage-content{
    position: absolute;
    top: calc(40%);
    width: 150px;
    height: 150px;
    background-color: white;
    zIndex: 999;
}
