.navbar-toggle {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.inputbox {
  position: absolute;
  top: 50%;
  left: 58.7%;
  transform: translate(-50%, -50%);
}

.inputbox input {
  width: 400px;
  border-radius: 10px;
  border: 1px solid white;
}

.new {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.search {
  position: absolute;
  top: 50%;
  left: 27%;
  transform: translate(-50%, -50%);
}

.notice {
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translate(0, -50%);
}

.notice img {
  width: 22px;
  height: 29px;
}

.user {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(0, -50%);
}

.mypage-content {
  position: absolute;
  top: calc(65% + 15px);
  right: 21%;
  width: 150px;
  height: 100px;
  background-color: white;
  z-index: 999;
}

.button{
    color: #000;
    border: none;
    outline: none;
    text-decoration: none;
}

.nested{
   margin-left: -20px;
}

.button_table_btn_s {
    margin-right: 10px;
    font-size: 13px;font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    float: left;
    align-items: center;
    text-align: center;
    width:"Hug";
    height:"Hug";
    padding:"7px 14px 7px 14px";
    color:  #000000;
    background-color: #FFFFFF;
    border: none;
    border-radius: 50px;
    padding:7px,14px;
    gap:10px;
    border: 2px solid #000000;}
.button_table_btn_ns {
    margin-right: 10px;
    font-size: 13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    float: left;
    align-items: center;
    text-align: center;
    width:"Hug";
    height:"49px";
    padding:"7px 14px 7px 14px";
    border: none;
    border-radius: 50px;
    padding:7px,14px;
    gap:10px;
        color:  #FFFFFF;
        background-color: #AA0140;
        border: 0px solid #000000;
    }
