.Structure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.Find {
    margin-top: 7%;
}

.List{
    margin-top: 7%;
}